# Override dev server port (use 8080 or 8081)
VITE_SUPABASE_URL=http://127.0.0.1:54321
VITE_SUPABASE_ANON_KEY=sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH

# Chave sensível para uso em backend apenas (não acessível no bundle do Vite)
SUPABASE_SERVICE_ROLE=sb_secret_N7UND0UgjKTVK-Uodkm0Hg_xSvEMPvz

# Métodos de autenticação desejados (informativo por enquanto)
AUTH_METHODS=email_password,google,linkedin

# OAuth providers (apenas referência local)
SUPABASE_OAUTH_GOOGLE_CLIENT_ID=822445389081-ul25gt4pe8fupes7ju6d8qlosofcoo0m.apps.googleusercontent.com
SUPABASE_OAUTH_GOOGLE_CLIENT_SECRET=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
SUPABASE_OAUTH_LINKEDIN_CLIENT_ID=8627q9mqdjwr8y
SUPABASE_OAUTH_LINKEDIN_CLIENT_SECRET=WPL_AP1.44KaabVnXu10nDTw.t2n2YQ==

## Apify API
APIFY_API_TOKEN=apify_api_ALvAlyzydm6niazaLB6eym3Gp9JVWM3pcRJG
APIFY_API_ATOR=2rJKkhh7vjpX7pvjg
APIFY_PEOPLE_ACTOR=M2FMdjRVeF1HPGFcc

## GROQ API
GROQ_API_KEY=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

##OPENAI_API_KEY
OPENAI_API_KEY=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
